<!DOCTYPE html>
<html>

<head>
    <title>Kino - Cinema</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="@Url.Content("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")">
    <script src="@Url.Content("https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")"></script>
    <script src="@Url.Content("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/youtubeapi.js")"></script>
    <link href="@Url.Content("https://fonts.googleapis.com/css?family=Nunito&amp;subset=latin-ext")" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/boostrap-select.css")">
    <script src="@Url.Content("~/Content/js/bootstrap/bootstrap-select.js")"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/style2.css")">
    <script src="@Url.Content("~/Content/js/poster.js")"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
 @RenderBody()
<body>
    <footer>

        <div class="footerline">
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="group">
                        <div class="group-name">
                            <p>O NAS</p>
                        </div>
                        <div class="group-element">
                            <a href="@Url.Content("https://michalmironczuk.pl")" target="_blank">Portfolio</a>
                        </div>
                        <div class="group-element">
                            <a>Kontakt</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="group">
                        <div class="group-name">
                            <p>OBSERWUJ NAS</p>
                        </div>
                        <div class="group-element">
                            <a href="@Url.Content("https://www.facebook.com/profile.php?id=100001407330718")" target="_blank">Facebook</a>
                        </div>
                        <div class="group-element">
                            <a href="@Url.Content("https://www.instagram.com/michal_mironczuk/")" target="_blank">Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="group-element">
                        <p style="color: gray;">Cinema @DateTime.Now.Year ©  </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
<script>
    $(document).ready(function () {
        OnPosterHover();

        $(document).on('hidden.bs.modal', '.modal', function() {
            player.stopVideo();
        });
    });

    function OnPosterHover() {
        $('.poster').hover(
            function() {
                var linkToTrailer = $(this).attr('data-poster-trailer');
                linkToTrailerPlay = linkToTrailer;
                OnPosterGrayWithBorder($(this));
                OnPosterBottomDetails($(this));
                OnPosterTextColorChange($(this));
                OnPosterPlayIcon($(this));
            },
            function() {
                OffPosterGrayWithBorder($(this));
                OffPosterBottomDetails($(this));
                OffPosterTextColorChange($(this));
                OffPosterPlayIcon($(this));
            }
        );
    }
</script>