<!DOCTYPE html>
<html>

<head>
    <title>Kino - Cinema</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="@Url.Content("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")">
    <script src="@Url.Content("https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")"></script>
    <link href="@Url.Content("https://fonts.googleapis.com/css?family=Nunito&amp;subset=latin-ext")" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" />
    <script src="@Url.Content("~/Scripts/youtubeapi.js")"></script>
    <script src="@Url.Content("~/Scripts/layout.js")"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="@Url.Content("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/style2.css")">
    @RenderSection("scripts", required: false)
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOR6qLLM8ssQPrhZtz-tckW6hO69nJI1E&libraries=geometry"></script>
</head>
<header>
    <div id="popover-content" style="display: none">
            <div class="row">
                <div class="col-sm-12">
                    <h4>ZNAJDŹ KINO</h4>
                    @Html.TextBox("searchCinema")
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <h4>NAJBLIŻSZE KINO</h4>
                    @Html.CheckBox("findLocation", false)

                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <h4>WSZYSTKIE KINA</h4>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Wybierz kino<span class="caret"></span></button>
                        <ul class="dropdown-menu scrollable-menu cinemaLocation" role="menu">
                            @Html.Action("PartialChooseCinemaNavigationBar", "NavigationBar")
                        </ul>
                    </div>
                </div>
                </div>
    </div>
    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <!-- LOGO PO SRODKU -->
                <!-- <div class="navbar-brand-center">-->
                <div class="navbar-brand">
                    <a href="@Url.Action("Index","Home")"><img id="logologologo" src="@Url.Content("~/Content/images/logo.png")" alt="Cinema" ></a>
                </div>
                <!--</div>-->
                <button class="navbar-toggle" data-toggle="collapse" data-target=".HeaderCollapse">
                    <span>MENU</span>
                </button>
            </div>
            <div class="collapse navbar-collapse HeaderCollapse">

                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <div class="navbar-button">
                            <div class="navbar-button-border">
                                <img src="@Url.Content("~/Content/images/map_set_icon.png")" height="20" class="mr-xs">
                                    @if (Session["chooseCinemaLocation"] == null)
                                    { 
                                    <a id="chooseCinemaLocation" data-toggle="popover" data-placement="bottom">
                                        <text>Wybierz kino</text>
                                    </a>
                                    }
                                    else
                                    {
                                    <a id="chooseCinemaLocation" data-toggle="popover" data-placement="bottom" data-session="@Session["chooseCinemaLocation"].ToString()">
                                        @Session["chooseCinemaLocation"]
                                    </a>
                                        }
</div>
                        </div>

                    </li>
                    <li>

                        <div class="navbar-button-border">
                                @Html.TextBox("generalSearch", null, new { @class="form-control mr-sm-2", @placeholder="Szukaj filmu... "})
                        </div>
                    </li>
                    <li>
                        <div class="navbar-button" id="chooseLang">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">PL  <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">PL</a></li>
                                    <li><a href="#">EN</a></li>
                                    <li><a href="#">DE</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="hidden-sm hidden-md hidden-lg hidden-xl">
                        <div class="navbar-button">
                            <div class="navbar-button-border">
                                <a class="repertoire">REPERTUAR </a>
                            </div>
                        </div>
                    </li>
                    <li class="hidden-sm hidden-md hidden-lg hidden-xl">
                        <div class="navbar-button">
                            <div class="navbar-button-border">
                                <a class="reservationredbar>REZERWUJ </a>
                            </div>
                        </div>
                    </li>
                    <li class="hidden-sm hidden-md hidden-lg hidden-xl">
                        <div class="navbar-button">
                            <div class="navbar-button-border">
                                <a class="eventsandnewsredbar">WYDARZENIA I NOWOŚCI </a>
                            </div>
                        </div>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</header>
<section class="red-bar">
    <div class="navbar-red navbar-static-top navbar-li">
        <div class="container">
            <div class="collapse navbar-collapse">

                <ul class="hidden-xs nav navbar-nav navbar-center">

                    <li>
                        <div class="navbar-button">
                            <div class="navbar-button-border">
                                <a class="repertoire">REPERTUAR </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="navbar-button">
                            <div class="navbar-button-border">
                                <a class="reservationredbar">REZERWUJ </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="navbar-button">
                            <div class="navbar-button-border">
                                <a class="eventsandnewsredbar">WYDARZENIA I NOWOŚCI </a>
                            </div>
                        </div>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</section>
@RenderBody()
<body>
    <footer>

        <div class="footerline">
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="group">
                        <div class="group-name">
                            <p>O NAS</p>
                        </div>
                        <div class="group-element">
                            <a href="@Url.Content("https://michalmironczuk.pl")" target="_blank">Portfolio</a>
                        </div>
                        <div class="group-element">
                            <a>Kontakt</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="group">
                        <div class="group-name">
                            <p>OBSERWUJ NAS</p>
                        </div>
                        <div class="group-element">
                            <a href="@Url.Content("https://www.facebook.com/profile.php?id=100001407330718")" target="_blank">Facebook</a>
                        </div>
                        <div class="group-element">
                            <a href="@Url.Content("https://www.instagram.com/michal_mironczuk/")" target="_blank">Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="group-element">
                        <p style="color: gray;">Cinema @DateTime.Now.Year ©  </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
