@model Cinema.Models.ViewModels.HomeViewModel   

   
    <div class="container-fluid">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @{
                    var i = 0;
                foreach (var banner in Model.Banners)
                {
                    var itemClass = i++ == 0 ? "item active" : "item";
                <div class="@itemClass">
                    <img src="@Url.Content(banner.ImagePath)" alt="@banner.Name">
                </div>

                }
                    }
                @*<div class="item">
                    <img src="@Url.Content("~/Content/images/skyfall.jpg")" alt="Skyfall">
                </div>

                <div class="item">
                    <img src="@Url.Content("~/Content/images/xmen.jpg")" alt="X-Men">
                </div>*@
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Poprzedni</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Następny</span>
            </a>
        </div>
    </div>
    <section class="reservation">
        <div class="container">
            <div class="reservation-top">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <p class="h1">REZERWUJ</p>
                    </div>
                </div>
            </div>
            <div class="reservation-table-top">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        @Html.DropDownList("chooseCinema", ViewBag.CinemasList as SelectList, "---WYBIERZ KINO---", new { id = "CinemaID", @class = "button-drop btn dropdown-toggle" })
                    </div>                    
                    <div class="col-lg-3 col-md-6">
                        @Html.DropDownList("chooseMovie", ViewBag.MoviesList as SelectList, "---WYBIERZ FILM---", new { id = "MovieID", @disabled = true, @class="button-drop btn dropdown-toggle" })
                    </div>
                    <div class="col-lg-3 col-md-6">
                        @Html.DropDownList("chooseType", ViewBag.TypesList as SelectList, "---WYBIERZ TYP---", new { id = "TypeID", @disabled = true, @class = "center button-drop btn dropdown-toggle" })
                    </div>
                    <div class="col-lg-3 col-md-6">
                        @Html.TextBox("---WYBIERZ DATE---", "---WYBIERZ DATE---", new { id = "Datepicker", @class = "button-drop btn dropdown-toggle" })
                    </div>
                </div>
            </div>
        </div>
        <div id="Reservation" class="reservation-table hidden">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="ReservationTable" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Film</th>
                                        <th>Wiek</th>
                                        <th>Czas trwania</th>
                                        <th>10:00</th>
                                        <th>11:00</th>
                                        <th>12:00</th>
                                        <th>13:00</th>
                                        <th>14:00</th>
                                        <th>15:00</th>
                                        <th>16:00</th>
                                        <th>17:00</th>
                                        <th>18:00</th>
                                        <th>19:00</th>
                                        <th>20:00</th>
                                        <th>21:00</th>
                                        <th>22:00</th>
                                    </tr>
                                </thead>
                                <tbody id="ReservationTableBody">
                                    <tr>
                                        <td>
                                            <p>Skyfall</p>
                                        </td>
                                        <td><img src="@Url.Content("~/Content/images/age15_.png")"></td>
                                        <td>
                                            <p>143 minut</p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Król Artur: Legenda miecza</p>
                                        </td>
                                        <td><img src="@Url.Content("~/Content/images/ageN_A.png")"></td>
                                        <td>
                                            <p>126 minut</p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>X-Men</p>
                                        </td>
                                        <td><img src="@Url.Content("~/Content/images/age15_.png")"></td>
                                        <td>
                                            <p>104 minut</p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="newandsoon">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#nowbooking">NA EKRANIE</a></li>
                <li><a data-toggle="tab" href="#soon">WKRÓTCE</a></li>
            </ul>
            
            <div class="tab-content">
                <div id="nowbooking" class="tab-pane fade in active">
                    <div class="categoriesbuttons">
                        <div class="row">
                            <div class="col-lg-3">
                                <p>Gatunki:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button onclick=ShowGenre(0) name="button" class="btn btn-default btn-responsive">Wszystkie</button>
                                @foreach (var genre in Model.Genres)
    {
                            <button onclick=ShowGenre(@genre.Id) name="button" class="btn btn-default btn-responsive">@genre.Name</button>
}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="Posters" class="posters">
                        <div class="row">
                            @foreach (var movie in Model.MovieNowBooking)
            {
                int indexerOfVideoId = @movie.TrailerLinkYoutube.LastIndexOf("v=");
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="poster" data-poster-id="@movie.Id" data-poster-trailer="@movie.TrailerLinkYoutube.Substring(indexerOfVideoId + 2)">
                        <div class="image">
                            <div class="posterimg">
                                <img src="@Url.Content(movie.ImagePath.Substring(1))" width="220" height="324">
                            </div>
                            <div class="overlaydetails">
                                <div class="categoriesbuttons">
                                    <input name="button" value="SZCZEGÓŁY" type="button" onclick="location.href='@Url.Action("ShowMovieDetails","MovieDetails", new {id=movie.Id })'" style="margin-top:10px;" class="btn btn-default btn-responsive"/>
                                </div>

                            </div>
                            <div class="overlayplayicon">
                                <img src="@Url.Content("~/Content/images/playicon.png")" alt="Zobacz zapowiedź" data-toggle="modal" data-target="#trailerModal">
                            </div>
                            <div class="postertitle">
                                <p>@movie.Title</p>
                            </div>
                        </div>
                    </div>
                </div>
}

                        </div>
                    </div>
                </div>
                <div id="soon" class="tab-pane fade">
                    <div class="posters">
                        <div class="row">
                            @foreach (var movie in Model.MovieSoon)
        {
            int indexerOfVideoId = @movie.TrailerLinkYoutube.LastIndexOf("v=");
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <div class="poster" data-poster-id="@movie.Id" data-poster-trailer="@movie.TrailerLinkYoutube.Substring(indexerOfVideoId + 2)">
                            <div class="image">
                                <div class="posterimg">
                                    <img src="@movie.ImagePath.Substring(1)" width="220" height="324">
                                </div>
                                <div class="overlaydetails">
                                    <div class="categoriesbuttons">
                                        <button type="button" onclick="@Url.Action(" ShowMovieDetails","MovieDetails", new {id=movie.Id })" name="button" style="margin-top:10px;" class="btn btn-default btn-responsive">SZCZEGÓŁY</button>
                                    </div>

                                </div>
                                <div class="overlayplayicon">
                                    <img src="@Url.Content("~/Content/images/playicon.png")" alt="Zobacz zapowiedź" data-toggle="modal" data-target="#trailerModal">
                                </div>
                                <div class="postertitle">
                                    <p>@movie.Title</p>
                                </div>
                            </div>
                        </div>
                    </div>
}
                        </div>
                    </div>
            

            <div id="trailerModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Zapowiedź filmu</h4>
                        </div>
                        <div class="modal-body">
                            <!-- iframe youtube do zwiastunów o id="player" -->
                            <div id="player" class="iframe"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-responsive active close" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
                </div>
            </div>
                <div class="eventsandnews">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#events1">WYDARZENIA</a></li>
                <li><a data-toggle="tab" href="#news1">NOWOŚCI</a></li>
            </ul>
            
            <div class="tab-content">
                <div id="events1" class="tab-pane fade in active">
                    <div class="posters">
                            @foreach(var eventitem in Model.Events)
                            { 
                        <div class="row">
                            <div class="event">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <p class="h1">@eventitem.Title </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <img class="img-center" src="@Url.Content(eventitem.ImagePath)">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <p class="h3">@eventitem.Text</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <div id="news1" class="tab-pane fade">
                    <div class="posters">
                        @foreach (var newsitem in Model.News)
                        {
                        <div class="row">
                            <div class="event">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <p class="h1">@newsitem.Title<p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <img class="img-center" src="@Url.Content(newsitem.ImagePath)">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <p class="h3">@newsitem.Text</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        }
                    </div>
                </div>

            <div id="trailerModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Zapowiedź filmu</h4>
                        </div>
                        <div class="modal-body">
                            <!-- iframe youtube do zwiastunów o id="player" -->
                            <div id="player" class="iframe"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-responsive active close" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
                </div>
            </div>
    </section>
    <script>
    var selectedCinemaID = $("#CinemaID :selected").val();
    var selectedMovieID = $("#MovieID :selected").val();
    var selectedMovieTypeID = $("#TypeID :selected").val();
    var selectedDate;

        $(document).ready(function () {

        $("#Reservation").hide().removeClass("hidden");
        OnStart();
        $("#CinemaID").change(function () {
            OnCinemaChoose();
            changeCinemaLocation();
        });
        $("#MovieID").change(function () {
                OnMovieChoose();
        });
        $("#TypeID").change(function () {
            OnMovieTypeChoose();
        });
        $("#cinemaLocation").click(function (event) {
            alert(this.innerHTML);
        });
        $('#Datepicker').datepicker({
            autoclose: true,
            todayBtn: true,
            todayHighlight: true,
            dateFormat: 'dd-mm-yy'
        }).datepicker("setDate", new Date());
        selectedDate = $('#Datepicker').val();


    });

    function OnStart() {
        $("#Datepicker").prop("disabled", true);
        $('#CinemaID').empty();
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCinemas","Home")',
            datatype: "Json",
            success: function (data) {
                $('#CinemaID').append('<option value="' + 0 + '"> --- WYBIERZ KINO ---</option>');
                    $.each(data, function (index, value) {
                        $('#CinemaID').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                    });
                }

        });
        };
    function OnCinemaChoose() {
        $('#Reservation').slideUp("fast");
        $("#MovieID").prop("disabled", false);
        $("#Datepicker").prop("disabled", false);

                selectedCinemaID = $("#CinemaID :selected").val();
                $('#MovieID').empty();
                $("#TypeID").prop("disabled", true);
                $('#TypeID').empty();
                $('#TypeID').append('<option value="' + 0 + '"> --- WYBIERZ TYP ---</option>');
                if (selectedCinemaID == 0) {
                    $('#MovieID').append('<option value="' + 0 + '"> --- WYBIERZ FILM ---</option>');
                    $("#Datepicker").prop("disabled", true);
                }
                else {
                    $('#Reservation').slideUp("fast", function () {

                    TableFilterWhenCinemaSelected();
                    });
                    $('#Reservation').slideDown("fast");
                    $.ajax({
                        type: 'POST',
                        data: { cinemaid: selectedCinemaID },
                        url: '@Url.Action("GetMovieById","Home")',
                        datatype: "Json",
                        success: function (data) {
                            $('#MovieID').append('<option value="' + 0 + '"> --- WYBIERZ FILM ---</option>');
                            $.each(data, function (index, value) {
                                $('#MovieID').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                            });
                        }
                    });


                }
    };
    function TableFilterWhenCinemaSelected()
    {
        var reservationtablebody = $("#ReservationTable").find('tbody');
        reservationtablebody.empty();
        selectedCinemaID = $("#CinemaID :selected").val();
        var whichMovieIdNow = 0;

         $.ajax({
             type: 'POST',
             data: { cinemaid: selectedCinemaID, currentdate: selectedDate },
                    url: '@Url.Action("GetMoviesByIdToTable", "Home")',
                    datatype: "json",
                    success: function (data) {
                        $.each(data, function (index, value) {
                            var ROOT = '@Url.Content("~")';
                            reservationtablebody.append('<tr id="HoursOnMovie' + whichMovieIdNow + '"><td><p>' + value.MovieTitle + '</p ></td><td><img src="' + ROOT + value.AgeRestrictionImagePath.substring(2) + '"></td><td><p>' + value.MovieDuration + ' minut</p></td></tr>');
                            SetHoursLine(reservationtablebody, whichMovieIdNow);
                            for (var i = 0; i < value.DateTimeWithMovieType.length; i++)
                            {
                                var date = ToJavaScriptDate(value.DateTimeWithMovieType[i].DateTime);
                                var a = date.charAt(0) + date.charAt(1);
                                var findHourId = "#" + a;
                                var findMovieId = "#HoursOnMovie" + whichMovieIdNow;
                                reservationtablebody.find(findMovieId).find(findHourId).append('<p>' + date + '</p><p>' + value.DateTimeWithMovieType[i].MovieType);
                            }
                            whichMovieIdNow++;

                        });
                        if (whichMovieIdNow == 0) {
                            reservationtablebody.empty();
                            reservationtablebody.append('<p> Brak wyników </p>');
                            $("#MovieID").prop("disabled", true);
                        }
                    },
                    error: function () {
                        alert('failure');
                    }
                });
    }
    function SetHoursLine(reservationtablebody, whichMovieIdNow) {
            var findMovieId = "#HoursOnMovie" + whichMovieIdNow;
        for (var i = 10; i <= 22; i++) {
            reservationtablebody.find(findMovieId).append('<td id="' + i + '"</td>');
        }
    }
    function ToJavaScriptDate(date) {
            var value = new Date(parseInt(date.substr(6)));
            var ret = value.getHours() + ":";
            if (value.getMinutes() == 0)
            {
                ret += "00";
            }

            else if (value.getMinutes() < 10)
            {
                ret += "0" + value.getMinutes();
            }
            else ret += value.getMinutes();
        return ret;
    }
    function OnMovieChoose() {
            $("#TypeID").prop("disabled", false);
            selectedMovieID = $("#MovieID :selected").val();
            selectedCinemaID = $("#CinemaID :selected").val();
            $('#TypeID').empty();
            if (selectedMovieID == 0)
            {
                $('#TypeID').empty();
                $('#TypeID').append('<option value="' + 0 + '"> --- WYBIERZ TYP ---</option>');
            }
            else {
                $('#Reservation').slideUp("fast", function () {

                TableFilterWhenMovieSelected();
                });
                $('#Reservation').slideDown("fast");
                $.ajax({
                    type: 'POST',
                    data: { movieid: selectedMovieID, cinemaid: selectedCinemaID },
                    url: '@Url.Action("GetMovieTypeById", "Home")',
                    datatype: "Json",
                    success: function (data) {
                        $('#TypeID').append('<option value="' + 0 + '"> --- WYBIERZ TYP ---</option>');
                        $.each(data, function (index, value) {
                            $('#TypeID').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                        });
                    }
                });
            }
    };
      function TableFilterWhenMovieSelected()
    {
        var reservationtablebody = $("#ReservationTable").find('tbody')
        reservationtablebody.empty();
        selectedCinemaID = $("#CinemaID :selected").val();
        selectedMovieID = $("#MovieID :selected").val();
        var whichMovieIdNow = 0;
         $.ajax({
             type: 'POST',
             data: { movieid: selectedMovieID, cinemaid: selectedCinemaID, currentdate: selectedDate },
                    url: '@Url.Action("GetMovieByIdToTable", "Home")',
                    datatype: "json",
                    success: function (data) {
                            reservationtablebody.append('<tr id="HoursOnMovie0"><td><p>' + data.MovieTitle + '</p ></td><td><img src="@Url.Content("~/Content/images/age15_.png")"></td><td><p>' + data.MovieDuration + ' minut</p></td></tr>');
                            SetHoursLine(reservationtablebody, whichMovieIdNow);
                            for (var i = 0; i < data.DateTimeWithMovieType.length; i++) {
                                var date = ToJavaScriptDate(data.DateTimeWithMovieType[i].DateTime);
                                var a = date.charAt(0) + date.charAt(1);
                                var findHourId = "#" + a;
                                var findMovieId = "#HoursOnMovie0";
                                reservationtablebody.find(findMovieId).find(findHourId).append('<p>' + date + '</p><p>' + data.DateTimeWithMovieType[i].MovieType);
                            }
                    },
                    error: function () {
                        alert('failure');
                    }
                });
    }
      function OnMovieTypeChoose() {
          $('#Reservation').slideUp("fast", function () {
        TableFilterWhenMovieTypeIsSelected();

          });
          $('#Reservation').slideDown("fast");
      };
    function TableFilterWhenMovieTypeIsSelected()
    {
        var reservationtablebody = $("#ReservationTable").find('tbody');
        reservationtablebody.empty();
        selectedCinemaID = $("#CinemaID :selected").val();
        selectedMovieID = $("#MovieID :selected").val();
        selectedMovieTypeID = $("#TypeID :selected").val();
        var whichMovieIdNow = 0;
         $.ajax({
             type: 'POST',
             data: { movieid: selectedMovieID, cinemaid: selectedCinemaID, movietypeid: selectedMovieTypeID, currentdate: selectedDate },
                    url: '@Url.Action("GetMovieTypeByIdToTable", "Home")',
                    datatype: "json",
                    success: function (data) {
                        reservationtablebody.append('<tr id="HoursOnMovie0"><td><p>' + data.MovieTitle + '</p ></td><td><img src="@Url.Content("~/Content/images/age15_.png")"></td><td><p>' + data.MovieDuration + ' minut</p></td></tr>');
                            SetHoursLine(reservationtablebody, whichMovieIdNow);
                            for (var i = 0; i < data.DateTimeWithMovieType.length; i++)
                            {
                                var date = ToJavaScriptDate(data.DateTimeWithMovieType[i].DateTime);
                                var a = date.charAt(0) + date.charAt(1);
                                var findHourId = "#" + a;
                                var findMovieId = "#HoursOnMovie0";
                                reservationtablebody.find(findMovieId).find(findHourId).append('<p>' + date + '</p><p>' + data.DateTimeWithMovieType[i].MovieType);
                            }
                    },
                    error: function () {
                        alert('failure');
                    }
                });
      }
    $('#Datepicker').change(function () {
        $("#MovieID").prop("disabled", false);
        $("#Type").prop("disabled", false);
            var date = $(this).val();
            selectedDate = date;
                OnCinemaChoose();
        });
        function ShowGenre(GenreID) {
            var posters = $('#Posters').find('div');
            var amountOfPosters = 0;
         $.ajax({
             type: 'POST',
             data: { id: GenreID },
                    url: '@Url.Action("ShowGenre", "Home")',
                    datatype: "json",
                    success: function (data) {
                        posters.empty();
                        $.each(data, function (index, value) {
                            var indexerOfVideoId = value.TrailerLinkYoutube.lastIndexOf('v=');
                            amountOfPosters++;
                            posters.append('<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12"><div class="poster" data-poster-id="' + value.Id + '" data-poster-trailer="' + value.TrailerLinkYoutube.substring(indexerOfVideoId + 2) + '"><div class="image"><div class="posterimg"><img src="' + value.ImagePath.substring(1) + '" width="220" height="324"></div><div class="overlaydetails"><div class="categoriesbuttons"><button name="button" style="margin-top:10px;" class="btn btn-default btn-responsive">SZCZEGÓŁY</button></div></div><div class="overlayplayicon"><img src="@Url.Content("~/Content/images/playicon.png")" alt="Zobacz zapowiedź" data-toggle="modal" data-target="#trailerModal"></div><div class="postertitle"><p>' + value.Title + '</p></div></div></div>')
                        });
                        if (amountOfPosters == 0) {
                            posters.append('<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12"><h1 style="color:white;">Brak</h1></div>');
                        }
                    },
                    error: function () {
                        alert('failure');
                    }
                });
        }
        function changeCinemaLocation() {
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '@Url.Action("GetCinemaFullname","Home")',
                success: function (data) {
                    $("#chooseCinemaLocation").text(data);
                },
                cache: false
            });
        }
    </script>
