@model IEnumerable<Cinema.Models.MoviePositionDates>
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_BackdoorLayout.cshtml";
}
<h2>Terminy w kinie @ViewBag.MovieAndCinema</h2>
<p>
    @Html.ActionLink("Utwórz nowy", "CreateTerm", new {id = ViewBag.PositionId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.ActionLink("Zmień", "EditTerm", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "DeleteTerm", new { id = item.Id })
            </td>
        </tr>
    }

</table>
